/* CSS files add styling rules to your content */

.topnav {
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: center;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: grey;
}

* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 40px;
}

p {
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
}

h3 {
  font-weight: 400;
  line-height: 27px;
}

.best2020 {
  margin-left: 50px;
  margin-right: 50px;
}

.2020words {
  font-family: Roboto, sans-serif;
  text-align: left;
  margin-bottom: 20px;
}

.2020words p {
  color: black;
  font-size: 25px;
}

.subheading p {
  color: black;
  font-size: 15px;
}

.gdlogo {
  margin-bottom: 30px;
  text-align: center;
}

.topnav {
  margin-top: 60px;
  margin-bottom: 20px;
}





.section {
  float: left;
  margin-left: 50px;
  width: 50%;
  overflow: hidden;
}

.section date {
  float: left;
  margin-left: 50px;
  width: 50%;
  overflow: hidden;
}

.awards {
  width: 50%;
  margin-left: 50px;
  padding: 15px 20px;
  width: 50%;
  overflow: hidden;
}
.awards h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.awards p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.awards img {
  float: left;
  padding: none;
  clear: right;
}

.date {
  margin-top: 20px;
  float: ;
}


.lessons {
  width: 50%;
  margin-left: 50px;
  padding: 15px 20px;
  width: 50%;
  overflow: hidden;
}
.lessons h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.lessons p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.lessons img {
  float: left;
  padding: none;
  clear: right;
}



.colour {
  width: 50%;
  margin-left: 50px;
  padding: 15px 20px;
  width: 50%;
  overflow: hidden;
}
.colour h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.colour p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.colour img {
  float: left;
  padding: none;
  clear: right;
}

.human {
  width: 50%;
  margin-left: 50px;
  padding: 15px 20px;
  width: 50%;
  overflow: hidden;
}
.human h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.human p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 50px;
}
.human img {
  float: left;
  padding: none;
  clear: right;
}


.actions {
  float : right ;
  width : 50%;
  padding : 100px 50px;
  margin-bottom : 100px;
  margin-top : none ;
  overflow : hidden;
}


.gdnews {
  background-color: #f1f3f4;
  display: flex;
  margin-top: 50px;
  padding: 20px;
}

.gdnews img {
  width: 80px;
}

.newstag {
  margin: auto;
  margin-left: 0;
}

.newstag {
  line-height: 27px;
}

.newstag a:hover {
  text-decoration: none;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news a {
  text-decoration: none;
  letter-spacing: 0.04em;
}

.rabbit {
  width: 50%;
  margin-left: 50px;
  padding: 15px 20px;
  width: 50%;
  overflow: hidden;
}
.rabbit h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.rabbit p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 20px;
}
.rabbit img {
  float: left;
  padding: none;
  clear: right;
}



.profilepicture img {
  border-radius: 500px;
  width: 10%;
  height: 10%;
}

.profilepicture {
  display: flex;
  margin-top: 20px;
}

.name {
  margin: auto;
  margin-left: 10px;
}

.tinytitle {
  font-family: "Roboto Mono", monospace;
}



.summary:hover {
  box-shadow: 0 2px 5px 1px #A6A6A6;
}

/*third section letsgo */
.typo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.typo a {
  text-decoration: none;
}

.category {
  display: flex;
  margin-right: auto;
  width: 130%;
}

.individual {
  margin-top: 20px;
}

.variables {
  padding: 20px;
}

.variables:hover {
  box-shadow: 0 2px 5px 1px #A6A6A6;
}

.variables h4 {
  margin-top: 10px;
}

/*4th section */

.rabbit {
  display: flex;
}

.cat {
  padding: 30px;
  width: 100%;
}

.cat:hover {
  box-shadow: 0 2px 5px 1px #A6A6A6;
}

/*5th section */
.latestnews h2 {
  margin-bottom: 80px;
  margin-left: 20px;
}

.space {
  margin-right: auto;
  width: 130%;
  display: flex;
}
.grotesk img {
  float: left;
  padding: none;
  clear: right;
}

.grotesk p {
  height: 150px;
}

.grotesk:hover {
  box-shadow: 0 2px 5px 1px #A6A6A6;
}

.twitterbird {
  margin-top: 30px;
}

/*6th section */
.pearl {
  display: flex;
}

.water {
  padding: 30px;
  width: 100%;
}

.water:hover {
  box-shadow: 0 2px 5px 1px #A6A6A6;
}


.aboutheading h1 {
  font-family: Roboto, sans-serif;
  color: grey;
  text-align: left;
  padding-left: 140px;
  font-size: 36px;
  font-weight: 400;
}


/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }
}
